@{
    ViewData["Title"] = "About Us";
}




<!-- Main CSS-->
<link href="~/css/Created.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="~/css/mynavbar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />




<link href="~/css/bubbles.css" rel="stylesheet" media="all">
<div class="bubbles bubble-1"></div>
<div class="bubbles bubble-5"></div>
<div class="bubbles bubble-2"></div>
<div class="bubbles bubble-6"></div>
<div class="bubbles bubble-3"></div>
<div class="bubbles bubble-7"></div>
<div class="bubbles bubble-4"></div>
<div class="bubbles bubble-8"></div>


<body>
    <div>
        <h1 class="pink">About Us</h1>
    </div>


    <div>
        <div class="card onshadow">


            <div class="input-container">

                <h3 class="blue">
                    Who we Are?
                </h3>
                <div class="map">
                    sdjbvhsjdsdjhbvkdsvkjdsvnjk nkjndskj nsdkjnsdkj ndskj kdjs nkjdsn ksdnkdsj nsdkn dskj ndskj nskdjn kdsjn kdjsn dsj ndsj ndskj ndskj ndskj ndskj nsdkj ndksj nksjn dsjk nkjdsn 
                </div>
            </div>



        </div>
    </div>
</body>
