@model Chipin_Rewrite.Models.Entities.UserTable
@{
    ViewData["Title"] = "ForgotPassword";
}


<link href="~/css/Login.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mynavbar.css" asp-append-version="true" />


<link href="~/css/bubbles.css" rel="stylesheet" media="all">
<div class="bubbles bubble-1"></div>
<div class="bubbles bubble-5"></div>
<div class="bubbles bubble-2"></div>
<div class="bubbles bubble-6"></div>
<div class="bubbles bubble-3"></div>
<div class="bubbles bubble-7"></div>
<div class="bubbles bubble-4"></div>
<div class="bubbles bubble-8"></div>
<body>


    <div>
        <div class="backBtn-div">

            <a href="@Url.Action("Index", "UserTables", new {token = "null"  })" class="backBtn link">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div> <h1>Forgot Password?</h1>
    </div>
   

    <div class="login-card onshadow">

        <form method="post" action="@Url.Action("ForgotPassword", "UserTables")">


            <div class="input-container">
                <div>
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </div>

                <input name="email" type="text" placeholder="Email"required />
      
            </div>

            <div>
                <button type="submit" value="Send">Send</button>
            </div>







        </form>


    </div>


</body>

