@model Chipin_Rewrite.Models.Entities.UserTable
@{
    ViewData["Title"] = "ForgotPassword";
}


<!-- Main CSS-->
<link href="~/css/Login.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">




<body>
    <h2>Forgot Password?</h2>

    <div class="login-card">

        <form method="post" action="@Url.Action("ResetPassword", "UserTables")">

            <!-- ... other input containers ... -->

            <div class="input-container">
                <div>
                    <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                </div>
                <input name="password" type="password" placeholder="Password" required />
            </div>

            <div class="input-container">
                <div>
                    <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                </div>
                <input name="confirmPassword" type="password" placeholder="Confirm Password" required />
            </div>
            <input type="hidden" name="hash" value="@ViewBag.hash"/>
            <input type="hidden" name="id" value="@ViewBag.id" />
            <div>
                <button type="submit" value="Send">Submit</button>
            </div>


        </form>










        <h6 class="mt-5">
            or continue with
        </h6>

        <div>
            <a href="" target="_blank">
                <i class="fab fa-facebook  fa-3x icons"></i>
            </a>

            <a href="" target="_blank">
                <i class="fab fa-google fa-3x circle icons"></i>
            </a>
        </div>

    </div>

    <div>
        <a asp-action="Index">Back to login</a>
    </div>
    <script>


        // Toggle password visibility
        const passwordInput = document.getElementById('passwordInput');
        const showPasswordIcon = document.getElementById('showPasswordIcon');

        function togglePasswordVisibility() {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                showPasswordIcon.classList.remove('fa-eye');
                showPasswordIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                showPasswordIcon.classList.remove('fa-eye-slash');
                showPasswordIcon.classList.add('fa-eye');
            }
        }


    </script>
</body>

