<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chipin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body, html {
            margin: 0;
        }

        .full-height-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }

        .logo {
            width: 100%;
            max-width: 200px;
            margin-bottom: 20px;
        }

        .btn-custom {
            width: 100%;
            max-width: 300px;
            margin-bottom: -40px;
            font-size: 18px;
            padding: 10px;
            border-radius: 30px;
        }

        .btn-login {
            background-color: #F74B94;
            ;
            color: white;
        }

        .btn-signup {
            background-color: #18BEF0;
            color: white;
        }

        .hero-image {
            width: 100%;
            max-width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="full-height-container">
        <img src="/css/resource/chipin_logo_6.png" alt="Chipin Logo" class="img-fluid logo">
        @* <a href="/login" class="btn btn-custom btn-login">Login</a>
        <a href="/signup" class="btn btn-custom btn-signup">Sign Up</a> *@
        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" class="btn btn-custom btn-login">
            Login
        </a>
        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" class="btn btn-custom btn-signup">
            Sign Up
        </a>
        <img src="/css/resource/login_signin_Image-no-bg.png" alt="Hero Image" class="img-fluid hero-image">
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<script>
    $(document).ready(function () {
        $('header').empty();
    });
</script>