@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<div>
    <p>Selected ProductListWalletId: @ViewBag.SelectedProductListWalletId</p>
    <p>Selected ProductName: @ViewBag.ProductName</p>
    <!-- You can add more content here as needed -->
</div>