@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <style>
        .box {
            position: relative;
            width: 100%;
        }

            .box .group {
                position: relative;
                width: 428px;
                height: 901px;
                margin: 5% auto;
                top: 0;
                left: 0;
            }

            .box .overlap {
                position: relative;
                width: 434px;
                height: 861px;
            }

            .box .overlap-group-wrapper {
                position: absolute;
                width: 362px;
                height: 161px;
                top: 0;
                left: 28px;
            }

            .box .overlap-group {
                position: relative;
                height: 161px;
            }

            .box .vector {
                position: absolute;
                width: 335px;
                height: 161px;
                top: 0;
                left: 27px;
            }

            .box .div {
                position: absolute;
                width: 354px;
                height: 29px;
                top: 13px;
                left: 0;
            }

            .box .text-wrapper {
                position: absolute;
                width: 309px;
                top: 0;
                left: 43px;
                font-family: "Nunito-Black", Helvetica;
                font-weight: 900;
                color: black;
                font-size: 24px;
                letter-spacing: 0;
                line-height: 28.8px;
            }

            .box .img {
                position: absolute;
                width: 28px;
                height: 28px;
                top: 6px;
                left: 0;
            }

            .box .overlap-wrapper {
                position: absolute;
                width: 434px;
                height: 763px;
                top: 98px;
                left: 0;
            }

            .box .overlap-2 {
                position: relative;
                width: 428px;
                height: 763px;
                background-image: url(rectangle-25.svg);
                background-size: 100% 100%;
            }

            .box .p {
                position: absolute;
                width: 332px;
                height: 125px;
                top: 155px;
                left: 48px;
                font-family: "Nunito Sans-Regular", Helvetica;
                font-weight: 400;
                color: #212121;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 21.6px;
            }

            .box .text-wrapper-2 {
                position: absolute;
                width: 380px;
                height: 29px;
                top: 55px;
                left: 24px;
                font-family: "Nunito-Black", Helvetica;
                font-weight: 900;
                color: #333333;
                font-size: 24px;
                text-align: center;
                letter-spacing: 0;
                line-height: 28.8px;
            }

            .box .text-wrapper-3 {
                position: absolute;
                width: 380px;
                height: 22px;
                top: 89px;
                left: 24px;
                font-family: "Nunito Sans-SemiBold", Helvetica;
                font-weight: 600;
                color: #424242;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.2px;
                line-height: 22.4px;
            }

            .box .next-button {
                all: unset;
                box-sizing: border-box;
                position: absolute;
                width: 386px;
                height: 58px;
                top: 659px;
                left: 24px;
            }

            .box .overlap-group-2 {
                position: relative;
                width: 384px;
                height: 58px;
            }

            .box .rectangle {
                position: absolute;
                width: 380px;
                height: 58px;
                top: 0;
                left: 0;
                background-color: #d91950;
                border-radius: 100px;
            }

            .box .text-wrapper-4 {
                position: absolute;
                width: 380px;
                height: 58px;
                top: 18px;
                left: 4px;
                text-shadow: 4px 8px 24px #10101040;
                font-family: "Nunito-Black", Helvetica;
                font-weight: 900;
                color: #ffffff;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.2px;
                line-height: 22.4px;
            }

            .box .vector-2 {
                position: absolute;
                width: 15px;
                height: 10px;
                top: 24px;
                left: 224px;
            }

            .box .skip-button {
                all: unset;
                box-sizing: border-box;
                position: absolute;
                width: 382px;
                height: 58px;
                top: 583px;
                left: 24px;
            }

            .box .div-wrapper {
                position: relative;
                width: 380px;
                height: 58px;
                background-color: #f2f2f2;
                border-radius: 100px;
            }

            .box .text-wrapper-5 {
                position: absolute;
                width: 169px;
                height: 22px;
                top: 18px;
                left: 105px;
                text-shadow: 4px 8px 24px #335ef740;
                font-family: "Nunito-Bold", Helvetica;
                font-weight: 700;
                color: #d91950;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.2px;
                line-height: 22.4px;
                white-space: nowrap;
            }
    </style>
</head>

<body>
    <div class="box">
        <div class="group">
            <div class="overlap">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                        <img class="vector" src="~/css/resource/vector.svg" />
                        <div class="div">
                            <div class="text-wrapper">Name’s Birthday Gift</div>
                            <img class="img" src="~/css/resource/arrow-left.svg" />
                        </div>
                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap-2">
                        <p class="p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu sem quam sit adipiscing dignissim tellus.
                            Vitae habitasse nulla pellentesque tortor, ut mattis sit.
                        </p>
                        <div class="text-wrapper-2">Personal Message</div>
                        <div class="text-wrapper-3">(Optional)</div>
                        <button class="next-button">
                            <a href="@Url.Action("Index", "SharedList5")">
                                <div class="overlap-group-2">
                                    <div class="rectangle"></div>
                                    <div class="text-wrapper-4">Next</div>
                                    <img class="vector-2" src="~/css/resource/arrow-next.svg" />
                                </div>
                            </a>
                        </button>
                        <button class="skip-button">
                            <div class="div-wrapper"><div class="text-wrapper-5">Skip</div></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>