
.myfontHeadings {
    font-weight: 800;
}

.ListBtn {
    background-color: #d91950;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

    .ListBtn:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
    }

.inner-div {
    width: 100%;
}

    .inner-div i {
        float: right;
        transform: translateY(5px)
    }

    .inner-div label {
        font-weight: 700;
        font-size: xx-large;
    }


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1em, 1fr));
    grid-gap: 2em;
    align-items: stretch;

    margin-bottom: 100px;
}





.card {
    max-width: 500px;
    height: 200px;
    border-radius: 5px;
    background-color: #11bff1;
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-basis: 15em;
    flex-grow: 1;
}



.box {
    text-align: left;
    max-width: 300px;
    height: 100px;
    padding: 5px 10px 300px 10px;
    transition: all 0.5s;

}



.subtext {
    transition: all 0.5s;
    font-size: large;
    margin-top:10px
}
    .subtext:hover {
        transform: translateX(10px);
        cursor:pointer;
    }
        .subtext:hover label {
            display: contents;
            
        }
    .subtext label {
        display: none;
        color: white;
    }
.details a {
    text-decoration: none;
    color: white;
    display: flow;
}




.details-card {
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top:50px;
}

    .details-card h2 {
        color: #d91950;
        font-weight: 800;
        margin-bottom: 20px;
    }



    .details-card div {
        text-align: left;
        color: #d91950;
        font-weight: 600;
        font-size: large;
        padding: 10px;
    }
        .details-card div label {
            color: #d91950;
        }

@media screen and (max-width: 500px) {
    .details-card h1 {
        color: #d91950;
        font-weight: 800;
        margin-bottom: 20px;
    }

}
